Hello <%= @user.first_name %> <%= @user.last_name %>,

<p>Your package <strong><%= @package.tracking_number %></strong> has a new status:</p>

<ul>
  <li>Status: <%= @package.status %></li>
  <li>Last update: <%= @last_update_time.strftime("%B %d, %Y %l:%M %p") %></li>
  <li>Description: <%= @package.tracking_events.last["description"] %></li>
</ul>

<p>Thank you for using our service!</p>