<div class="conversion-result">
  <h2>Conversion Result</h2>
  
  <div class="result">
    <p class="lead">
      <strong><%= number_with_precision(@original_amount, precision: 2) %> <%= @from_currency %></strong>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right-icon lucide-arrow-left-right"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/></svg>
      <strong><%= number_with_precision(@converted_amount, precision: 2) %> <%= @to_currency %></strong>
    </p>
  </div>
  
  <%= link_to "Convert Another", currency_converter_path, class: "btn btn-secondary" %>
</div>