<% if @remittance_centers.any? %>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <% @remittance_centers.each do |center| %>
      <div class="flex flex-col justify-between p-6 border bg-white rounded-lg shadow hover:shadow-md transition">
        <div>
          <h2 class="text-base xl:text-lg font-semibold text-gray-800 mb-2"><%= center.name %></h2>
          <p class="text-xs lg:text-sm text-gray-600"><strong>Address:</strong> <%= center.address %></p>
          <p class="text-xs lg:text-sm text-gray-600"><strong>Phone:</strong> <%= center.phone.presence || "Not available" %></p>
          <p class="text-xs lg:text-sm text-gray-600"><strong>Rating:</strong> <%= center.rating || "No rating" %> (<%= center.user_ratings_total || 0 %> reviews)</p>
          <p class="text-xs lg:text-sm text-gray-600"><strong>Hours:</strong><br>
            <% if center.opening_hours.present? %>
              <% center.opening_hours.each do |hour| %>
                <span><%= hour %></span><br>
              <% end %>
            <% else %>
              <em>No hours available</em>
            <% end %>
          </p>
        </div>

        <div class="flex mt-4 gap-4">
          <% if center.latitude.present? && center.longitude.present? %>
            <%= link_to "https://www.google.com/maps/search/?api=1&query=#{center.latitude},#{center.longitude}", target: "_blank", class: "inline-flex items-center py-2 gap-2 text-blue-600 hover:text-blue-800 lg:text-sm text-xs" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:h-5 lg:w-5 h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
              View on Google Maps
            <% end %>
          <% else %>
            <span class="text-yellow-600 hover:text-yellow-800 md:text-sm text-xs">N/A</span>
          <% end %>

          <%= button_to remittance_center_path(center), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-flex items-center py-2 gap-2 text-red-600 hover:text-red-800 lg:text-sm text-xs" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:size-5 size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
            Remove
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    <%= render "remittance_centers/nil_remittance_centers" %>
  </div>
<% end %>